.adsblock {
    background-color: lemonchiffon;
    /*width: 150px;*/
    /*height: 200px;*/
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 10px;
    border: 1px solid black;
    text-align: center;
    margin-top: 10px;

}
.inner-form-container {
    padding-top: 20px;
    height: 300px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    
}

.ad-block-container {
    width: 1000px;
    height: 500px;
}

h1 {
    text-align: center;
}

.createAd {
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: beige;
}

.createAd{
    display: block;
    width: 100px;
    height: 25px;
    margin-bottom: 10px;
}

.ad-form-container{
    display: none; 
    border: 1px solid black;
    height: 300px;
    width: 500px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.ad-title, .ad-url, .ad-description {
    display: block;
    margin-bottom: 10px;
}

.ad-title, .ad-url {
    width: 250px;
}

.ad-description {
    width: 250px;
    height: 100px;
}

.nav {
    width: 100%;
    border: 2px solid black;
    float: left;
    background-color: lightcoral;
    margin-bottom: 10px;
    height: 50px;
    
}

.nav > ul {
    list-style: none;
}

.nav > ul > li {
    padding-right: 20px;
    float: left;
}

