@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

body {
    background-color:#6BE1FF;

}
.title {
    font-size: 30px;
}
.login {
    float: right;
    
}
.adsblock {
    background-color: #7884FF;
     border: 1px solid black; 
    text-align: center; 
    font-family: 'PT Sans Narrow';
    display: inline-block;
    
} 
 .code-validator {
     display: none;
     color: red;
     font-size: 15px;;
 }
.delete-success{
    color: green;
    font-size: 20px;
    text-align: center;
    display: none;
}
.post-success{
    color: green;
    font-size: 20px;
    text-align: center;
    display: none;
}
 
h1 {
    text-align: center;
    color: white;
}

.createAd {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.ad-form-container{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}


.navbar {
    background-color: #7884FF;
    border: 1px solid black;
}

.intro-container {
    padding-top: 10px;
    color: white;
    background-color: #7884FF;
    height: 75px;
    width: 100%;
    
}
/*yay

