.adsblock {
    background-color: lemonchiffon;
    width: 300px;
    height: 200px;
    display: inline-block;
    margin-bottom: 5px;
    border: 1px solid black;
    text-align: center;
}

body {
    background-color: beige;
}

.createAd{
    display: block;
    width: 100px;
    height: 25px;
    margin-bottom: 10px;
}

.ad-form-container{
    display: none;
    border: 1px solid black;
    height: 300px;
    width: 500px;
    margin-bottom: 20px;
}

.ad-title, .ad-url, .ad-description {
    display: block;
    margin-bottom: 10px;
}

.ad-title, .ad-url {
    width: 250px;
}

.ad-description {
    width: 250px;
    height: 100px;
}

